<form
  class="brand-form"
  [formGroup]="formGroupbrand"
  *ngIf="formGroupbrand"
  (ngSubmit)="onSubmit($event)"
  #formbrand="ngForm"
>

  <label for="name" class="label">Nombre <i *ngIf="nameField!.valid" class="fa-solid fa-circle-check"></i></label>
  <input id="name" type="text" formControlName="name" placeholder="Nombre"/>
  <span class="validation" *ngIf="nameField!.invalid && (nameField!.touched || formbrand.submitted)">Requerido</span>
  



  <button type="submit">Agregar</button>
</form>
