<h3 class="title">PRODUCTOS</h3> 

<!-- <app-product-form (productNewOut)="productNewOut($event)"></app-product-form> -->
<table class="table-products">
    <thead class="thead">
        <td>MARCA</td>
        <td>NOMBRE</td>
        <td>PRECIO</td>
        <td>STOCK</td>
        <td><a class="button-table" routerLink="/admin/products/create">Nuevo</a></td>
    </thead>
    <tbody *ngIf="products.length > 0">
        <tr *ngFor="let product of products">
            <td>{{product.brand}}</td>
            <td>{{product.name}}</td>
            <td>${{product.price}}</td>
            <td>{{product.stock}}</td>
            <td class="buttons-flex">
                <a class="button-table" [routerLink]="['/admin/products/edit/',product.id]"><i class="fa-solid fa-pen"></i></a>
                <button class="button-table" (click)="deleteProduct(product.id!)"><i class="fa-solid fa-trash"></i></button>
            </td>
        </tr>
    </tbody>
</table>