.product-cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    width: 80%;
    margin: 20px auto;
}
.product-card{
    text-decoration: none;
    background-color: white;
    box-shadow: 0px 0px 1px rgba(28, 28, 28, 0.735);
    border-radius: 5px;
    overflow: hidden;
    transition: 0.1s;
    cursor: pointer;
}

.product-card:hover{
    border: 1px solid rgb(114, 114, 114);
    position: relative;
    transform: translateY(-4px);
}

.product-body{
    padding: 10px;
    height: fit-content;
}
.product-img{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    height: 250px;
    width: 90%;
    margin: 10px auto;
}
.product-title{
    text-align: center;
    color: #013440;
    text-transform: uppercase;
    text-overflow: ellipsis;
    word-wrap:break-word;
    overflow: hidden;
    height: 2em;
}
.product-description{
    color: #0f0f0f;
    text-overflow: ellipsis;
    word-wrap:break-word;
    overflow: hidden;
    height: 3.6em;
}
.product-btn{
    color: #013440;
    text-align: center;
    display: block;
    font-weight: bold;
    font-size: 1.5rem;
    position: relative;

}

.product-page-title{
    color: #013440;
    text-align: center;
}

.no-products{
    font-weight: 100px;
    font-size: 1.5rem;
    color: rgb(49, 49, 49);
}
.loading-div{
    margin-top: 100px;
}
.loading{
    transform: scale(0.75);
    filter: brightness(100);
}