<form
  class="product-form"
  [formGroup]="formGroupProduct"
  *ngIf="formGroupProduct"
  (ngSubmit)="onSubmit($event)"
  #formProduct="ngForm"
>

  <label for="name" class="label">Nombre <i *ngIf="nameField!.valid" class="fa-solid fa-circle-check"></i></label>
  <input id="name" type="text" formControlName="name" placeholder="Nombre"/>
  <span class="validation" *ngIf="nameField!.invalid && (nameField!.touched || formProduct.submitted)">Requerido</span>
  
  <label for="imageUrl" class="label">Imagen <i *ngIf="imageUrlField!.valid" class="fa-solid fa-circle-check"></i></label>
  <input id="imageUrl" type="text" formControlName="imageUrl" placeholder="Url de la imagen"/>
  <span class="validation" *ngIf="imageUrlField!.invalid && (imageUrlField!.touched || formProduct.submitted)">Requerido</span>

  <label for="description" class="label">Descripción <i *ngIf="descriptionField!.valid" class="fa-solid fa-circle-check"></i></label>
  <textarea
    id="description"
    cols="30"
    rows="5"
    formControlName="description"
    placeholder="Descripción"
  ></textarea>
  <span class="validation" *ngIf="descriptionField!.invalid && (descriptionField!.touched || formProduct.submitted)">Requerido</span>

  <label for="price" class="label">Precio <i *ngIf="priceField!.valid" class="fa-solid fa-circle-check"></i></label>
  <input type="number" id="price" formControlName="price" placeholder="Precio"/>
  <span class="validation" *ngIf="priceField!.invalid && (priceField!.touched || formProduct.submitted)">Requerido</span>

  <label for="stock" class="label">Stock <i *ngIf="stockField!.valid" class="fa-solid fa-circle-check"></i></label>
  <input type="number" id="stock" formControlName="stock" placeholder="Stock"/>
  <span class="validation" *ngIf="stockField!.invalid && (stockField!.touched || formProduct.submitted)">Requerido</span>

  <label for="productTypeId" class="label">Tipo de producto <i *ngIf="productTypeIdField!.valid" class="fa-solid fa-circle-check"></i></label>
  <select id="productTypeId" formControlName="productTypeId">
    <option value="" [defaultSelected]="true">Seleccione</option>
    <option
      *ngFor="let productType of productTypes"
      value="{{ productType.id }}"
    >
      {{ productType.name }}
    </option>
  </select>
  <span class="validation" *ngIf="productTypeIdField!.invalid && (productTypeIdField!.touched || formProduct.submitted)">Requerido</span>

  <label for="brandId" class="label">Marca <i *ngIf="brandIdField!.valid" class="fa-solid fa-circle-check"></i></label>
  <select formControlName="brandId">
    <option value="" [defaultSelected]="true">Seleccione</option>
    <option *ngFor="let brand of brands" value="{{ brand.id }}">
      {{ brand.name }}
    </option>
  </select>
  <span class="validation" *ngIf="brandIdField!.invalid && (brandIdField!.touched || formProduct.submitted)">Requerido</span>

  <button type="submit">Agregar</button>
</form>
