<div class="container">
    <h1 class="title">Administracion iShop</h1>
        <ul class="menu-items">
            <li class="menu-item">
                <a class="menu-link" routerLink="/admin/brands">Marcas</a>
            </li>
            <li class="menu-item">
                <a class="menu-link" routerLink="/admin/productType">Tipo de Categoria</a>
            </li>
            <li class="menu-item">
                <a class="menu-link">Metodos de entrega</a>
            </li>
            <li class="menu-item">
                <a routerLink="/admin/products" class="menu-link">Productos</a>
            </li>
        </ul>
</div>
