.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.menu-items{
    padding: 0;
    margin: 0;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
}

.menu-item{
    list-style: none;
    width: 50%;
}

.menu-link{
    display: block;
    background-color: #013440;
    color: white;
    padding: 50px;
    font-size: 1.5rem;
    margin: 10px;
    text-align: center;
}

.title{
    text-align: center;
}