.login{
    width: 100%;
    height: 100vh;
    background-color: #013440;
}
.contenedor-login{
    background-color:#F2E9E4;
    /* border-bottom-left-radius: 25%; */
    padding: 50px;
    margin: auto;
    width: 350px;
    position: absolute;
    left: 50%;
    margin-left: -175px;
    top: 50%;
    margin-top: -175px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.544);
    height: 350px;
}
.centrar-login{
    position: relative;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;  
}
.login-titulo{
    margin-top: 0;
    color: #013440;
    text-align: center;
    text-shadow: 0px 1px 2px #e2dfdf;
    font-weight: 800;
    margin-bottom: 10px;
}
.login-label{
    color: #013440;
    font-size: 0.9rem;
}
.login-input{
    display: block;
    width: 100%;
    color: rgb(31, 31, 31);
    padding: 10px;
    border: 1px solid rgb(255, 255, 255);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}
.login-input:focus{
    border: 1px solid #013440;
    color: #013440;
}
.login-button{
    background-color: #013440;
    display: block;
    margin: 15px auto;
    width: 100%;
    border: 1px solid rgb(104, 104, 104);
    border-radius: 1px;
    color: white;
    padding: 10px;
    border-bottom-left-radius: 10px;
    font-size: 1rem;
    transition: 0.6s;
}
.login-button:hover{
    background-color: #163986;
    cursor: pointer;
}
.input-usuario{
    margin-bottom: 10px;
}
.footer{
    background-color: #B4D2D9;
    position: fixed;
    width: 100%;
    bottom: 0;
    text-align: center;
    padding: 10px;
    font-weight: 300;
}

.login-alert{
    width: max-content;
    font-size: 0.7rem;
    color: red;
    font-weight: 800;
}